
html{

    background-image: linear-gradient(	#A8CEFF, #4C9ADB);
}

body{
    background-image: linear-gradient(	#F6FEE7, #E2F6BA);
    width: 75%;
    height: 100vh;
    margin: 0 auto;


    padding-top: 0;

    padding-bottom: 0;
    border: solid 3px darkgray;


}

menu {
    background-image: linear-gradient(#FFEAE6, #F0ABAB);
    border-top: solid 3px darkgray;
    border-bottom: solid 3px darkgray;
    height: 100px;
    text-align: center;

}

menu a{
    background-image: linear-gradient(#fce0dd, #f2b4b3);
    height: 50px;
    padding: 10px;
    font-size: 1.875em;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.1em;
    margin-right: 0.1em;

    text-decoration: none;
    color: #181414;
}

menu a:hover{

    background-image: linear-gradient(#fce0dd, #fb4a47);

}

div{
    background-color: #F0FCDD;

    margin-top: 0;
    padding-top: 0;;


}